In [1]:
from path import Path
import pandas as pd

In [2]:
data = Path('clean_df.csv')
df = pd.read_csv(data)
df.head(20)

,id,closing_date,price,bedrooms,bathrooms,home_size,lot_size,floors,waterfront,view,...,grade,above_size,basement_size,year,yr_renovated,zipcode,lat,long,homereno_2015,lotreno_2015
0,7129300520,2014-10-13,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,2014-12-09,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2015-02-25,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,2014-12-09,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2015-02-18,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,2014-05-12,1225000,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,2014-06-27,257500,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,2015-01-15,291850,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,2015-04-15,229500,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,2015-03-12,323000,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570
10,1736800520,2015-04-03,662500,3,2.50,3560,9796,1.0,0,0,...,8,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925
11,9212900260,2014-05-27,468000,2,1.00,1160,6000,1.0,0,0,...,7,860,300,1942,0,98115,47.6900,-122.292,1330,6000
12,114101516,2014-05-28,310000,3,1.00,1430,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
13,6054650070,2014-10-07,400000,3,1.75,1370,9680,1.0,0,0,...,7,1370,0,1977,0,98074,47.6127,-122.045,1370,10208
14,1175000570,2015-03-12,530000,5,2.00,1810,4850,1.5,0,0,...,7,1810,0,1900,0,98107,47.6700,-122.394,1360,4850
15,9297300055,2015-01-24,650000,4,3.00,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
16,1875500060,2014-07-31,395000,3,2.00,1890,14040,2.0,0,0,...,7,1890,0,1994,0,98019,47.7277,-121.962,1890,14018
17,6865200140,2014-05-29,485000,4,1.00,1600,4300,1.5,0,0,...,7,1600,0,1916,0,98103,47.6648,-122.343,1610,4300
18,16000397,2014-12-05,189000,2,1.00,1200,9850,1.0,0,0,...,7,1200,0,1921,0,98002,47.3089,-122.210,1060,5095
19,7983200060,2015-04-24,230000,3,1.00,1250,9774,1.0,0,0,...,7,1250,0,1969,0,98003,47.3343,-122.306,1280,8850

In [3]:
df['Month'] = pd.DatetimeIndex(df['closing_date']).month

In [4]:
df = df.drop(['closing_date'], axis = 1)

In [5]:
df.head(10)

,id,price,bedrooms,bathrooms,home_size,lot_size,floors,waterfront,view,condition,...,above_size,basement_size,year,yr_renovated,zipcode,lat,long,homereno_2015,lotreno_2015,Month
0,7129300520,221900,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,10
1,6414100192,538000,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,12
2,5631500400,180000,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,2
3,2487200875,604000,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,12
4,1954400510,510000,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,2
5,7237550310,1225000,4,4.50,5420,101930,1.0,0,0,3,...,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,5
6,1321400060,257500,3,2.25,1715,6819,2.0,0,0,3,...,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,6
7,2008000270,291850,3,1.50,1060,9711,1.0,0,0,3,...,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,1
8,2414600126,229500,3,1.00,1780,7470,1.0,0,0,3,...,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,4
9,3793500160,323000,3,2.50,1890,6560,2.0,0,0,3,...,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,3

In [6]:
df.columns.tolist()

['id',
 'price',
 'bedrooms',
 'bathrooms',
 'home_size',
 'lot_size',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'above_size',
 'basement_size',
 'year',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'homereno_2015',
 'lotreno_2015',
 'Month']

In [7]:
col_order = ['id','price','Month','bedrooms','bathrooms','home_size','lot_size','floors','waterfront','view','condition','grade','above_size','basement_size','year','yr_renovated','zipcode','lat','long','homereno_2015','lotreno_2015']

In [8]:
df = df[col_order]

In [9]:
df.head(10)

,id,price,Month,bedrooms,bathrooms,home_size,lot_size,floors,waterfront,view,...,grade,above_size,basement_size,year,yr_renovated,zipcode,lat,long,homereno_2015,lotreno_2015
0,7129300520,221900,10,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,538000,12,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,180000,2,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,604000,12,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,510000,2,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,1225000,5,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,257500,6,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,291850,1,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,229500,4,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,323000,3,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [10]:
from sklearn.preprocessing import StandardScaler
data_scaler = StandardScaler()

In [11]:
df_scaled = data_scaler.fit_transform(df)

In [12]:
df_scaled

array([[ 0.88614631, -0.86671733,  1.09962055, ..., -0.30607896,
        -0.9433552 , -0.26071541],
       [ 0.63751062, -0.00568792,  1.74162654, ..., -0.74634143,
        -0.43268619, -0.18786773],
       [ 0.36544385, -0.98084935, -1.46840343, ..., -0.13565477,
         1.07013975, -0.17237524],
       ...,
       [-1.06275071, -0.37586519, -0.18439144, ..., -0.60432128,
        -1.41025258, -0.39414129],
       [-1.49104567, -0.38158814, -1.78940643, ...,  1.02891048,
        -0.8412214 , -0.42051149],
       [-1.0627507 , -0.58588173,  1.09962055, ..., -0.60432128,
        -1.41025258, -0.41794772]])

In [13]:

df_scaled.shape

(21613, 21)

In [14]:
df_scaled[:5]

array([[ 0.88614631, -0.86671733,  1.09962055, -0.39873715, -1.44746357,
        -0.97983502, -0.22832133, -0.915427  , -0.08717263, -0.30575946,
        -0.62918687, -0.55883575, -0.73470764, -0.65868104, -0.54489777,
        -0.21012839,  1.87015159, -0.35257175, -0.30607896, -0.9433552 ,
        -0.26071541],
       [ 0.63751062, -0.00568792,  1.74162654, -0.39873715,  0.1756067 ,
         0.53363434, -0.18988538,  0.93650577, -0.08717263, -0.30575946,
        -0.62918687, -0.55883575,  0.46084084,  0.2451414 , -0.6810785 ,
         4.7466776 ,  0.87956753,  1.16156823, -0.74634143, -0.43268619,
        -0.18786773],
       [ 0.36544385, -0.98084935, -1.46840343, -1.47395936, -1.44746357,
        -1.42625404, -0.12329847, -0.915427  , -0.08717263, -0.30575946,
        -0.62918687, -1.40958711, -1.22983377, -0.65868104, -1.29389179,
        -0.21012839, -0.9333882 ,  1.28353661, -0.13565477,  1.07013975,
        -0.17237524],
       [-0.72765561,  0.17409044,  1.74162654,  0.67648506,  1.14944885,
        -0.13055006, -0.2440144 , -0.915427  , -0.08717263, -0.30575946,
         2.44429394, -0.55883575, -0.89169885,  1.39751501, -0.20444594,
        -0.21012839,  1.08516045, -0.28328794, -1.271816  , -0.91417411,
        -0.28452184],
       [-0.9128809 , -0.08195753, -1.46840343, -0.39873715, -0.14900736,
        -0.43542158, -0.16965339, -0.915427  , -0.08717263, -0.30575946,
        -0.62918687,  0.29191561, -0.13089528, -0.65868104,  0.54454807,
        -0.21012839, -0.073636  ,  0.40955019,  1.19933466, -0.27219022,
        -0.19284877]])

In [15]:
df.to_csv("data_scaled.csv", index=False, header=True)