### Deliverable 1: Preprocessing the Data for a Neural Network

In [10]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
from path import Path

In [11]:
#  Import and read the charity_data.csv.
data = Path('Resources/kc_house_data.csv')
df = pd.read_csv(data)
df.head(20)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570
10,1736800520,20150403T000000,662500.0,3,2.50,3560,9796,1.0,0,0,...,8,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925
11,9212900260,20140527T000000,468000.0,2,1.00,1160,6000,1.0,0,0,...,7,860,300,1942,0,98115,47.6900,-122.292,1330,6000
12,114101516,20140528T000000,310000.0,3,1.00,1430,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
13,6054650070,20141007T000000,400000.0,3,1.75,1370,9680,1.0,0,0,...,7,1370,0,1977,0,98074,47.6127,-122.045,1370,10208
14,1175000570,20150312T000000,530000.0,5,2.00,1810,4850,1.5,0,0,...,7,1810,0,1900,0,98107,47.6700,-122.394,1360,4850
15,9297300055,20150124T000000,650000.0,4,3.00,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
16,1875500060,20140731T000000,395000.0,3,2.00,1890,14040,2.0,0,0,...,7,1890,0,1994,0,98019,47.7277,-121.962,1890,14018
17,6865200140,20140529T000000,485000.0,4,1.00,1600,4300,1.5,0,0,...,7,1600,0,1916,0,98103,47.6648,-122.343,1610,4300
18,16000397,20141205T000000,189000.0,2,1.00,1200,9850,1.0,0,0,...,7,1200,0,1921,0,98002,47.3089,-122.210,1060,5095
19,7983200060,20150424T000000,230000.0,3,1.00,1250,9774,1.0,0,0,...,7,1250,0,1969,0,98003,47.3343,-122.306,1280,8850

In [28]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#import application_df = application_df.drop(columns =['EIN', 'NAME'])
df['price'].describe()

count    2.161300e+04
mean     5.400881e+05
std      3.671272e+05
min      7.500000e+04
25%      3.219500e+05
50%      4.500000e+05
75%      6.450000e+05
max      7.700000e+06
Name: price, dtype: float64

In [29]:
df['price'].median()

450000.0

In [13]:
df['date'] = pd.to_datetime(df['date']) #Dropping date column bcz i won't gonna day and month and creating new year column
df['year'] = df['date'].dt.year
df = df.drop(["date", "sqft_lot15"],axis=1)
df

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,year
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,2014
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,2014
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,2015
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,2014
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,2014
21609,6600060120,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,2015
21610,1523300141,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2014
21611,291310100,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,2015
21612,1523300157,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,2014

In [14]:
# X = df.drop(['date', 'price', 'zipcode', 'lat', 'long'], axis = 1)
X = df.drop(['price'], axis = 1)

In [15]:
y = df["price"]

In [16]:
X.dtypes

id                 int64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
year               int64
dtype: object

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Deliverable 2: Compile, Train and Evaluate the Model

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  180
hidden_nodes_layer2 = 256
hidden_nodes_layer3 = 150

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, kernel_initializer='normal', input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, kernel_initializer='normal', activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, kernel_initializer='normal', activation="relu"))


# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, kernel_initializer='normal', activation="relu"))


# Fifth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, kernel_initializer='normal', activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, kernel_initializer='normal', activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 180)               3600
_________________________________________________________________
dense_4 (Dense)              (None, 256)               46336
_________________________________________________________________
dense_5 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_6 (Dense)              (None, 256)               65792
_________________________________________________________________
dense_7 (Dense)              (None, 150)               38550
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 151
=================================================================
Total params: 220,221
Trainable params: 220,221
Non-trainable params: 0
_________________________________________________________________

In [24]:
# Compile the model
nn.compile(loss="mean_absolute_error", optimizer="adam", metrics=["mean_absolute_error"])

In [25]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
473/473 [==============================] - 4s 6ms/step - loss: 537639.0000 - mean_absolute_error: 537639.0000A: 1s - loss: 535226.9375 - mean_absolute_erro - ETA: 0s - loss: 539486.0625 - mean_absolute_error
Epoch 2/50
473/473 [==============================] - 3s 6ms/step - loss: 537639.3125 - mean_absolute_error: 537639.3125
Epoch 3/50
473/473 [==============================] - 3s 6ms/step - loss: 537639.2500 - mean_absolute_error: 537639.2500
Epoch 4/50
473/473 [==============================] - 3s 6ms/step - loss: 537639.0625 - mean_absolute_error: 537639.0625A: 2s - loss: 543191.5625 - mean_absolute_error: 543 - ETA: 1s - loss: 533513.8750 - m
Epoch 5/50
473/473 [==============================] - 3s 6ms/step - loss: 537639.0000 - mean_absolute_error: 537639.0000A: 0s - loss: 541120.8125 - mean_absolute_e
Epoch 6/50
473/473 [==============================] - 3s 6ms/step - loss: 537639.5000 - mean_absolute_error: 537639.5000
Epoch 7/50
473/473 [==============================] - 3s 6ms/step - loss: 537639.3750 - mean_absolute_error: 537639.3750
Epoch 8/50
473/473 [==============================] - 3s 6ms/step - loss: 537639.3125 - mean_absolute_error: 537639.3125
Epoch 9/50
473/473 [==============================] - 3s 6ms/step - loss: 537639.2500 - mean_absolute_error: 537639.2500A: 1s - loss: 539021.8750 - mean_ab
Epoch 10/50
473/473 [==============================] - 3s 6ms/step - loss: 537639.2500 - mean_absolute_error: 537639.2500
Epoch 11/50
473/473 [==============================] - 3s 6ms/step - loss: 537639.0625 - mean_absolute_error: 537639.0625
Epoch 12/50
473/473 [==============================] - 3s 6ms/step - loss: 537639.0000 - mean_absolute_error: 537639.0000
Epoch 13/50
473/473 [==============================] - 3s 5ms/step - loss: 537639.1250 - mean_absolute_error: 537639.1250A: 3s - loss: 528089. - ETA: 0s - loss: 536758.3125 - mean_absolute_error: 53675
Epoch 14/50
473/473 [==============================] - 3s 6ms/step - loss: 537639.3750 - mean_absolute_error: 537639.3750
Epoch 15/50
473/473 [==============================] - 3s 6ms/step - loss: 537639.3125 - mean_absolute_error: 537639.3125A: 0s - loss: 536445.1250 - mean_absolute_error:
Epoch 16/50
473/473 [==============================] - 3s 6ms/step - loss: 537639.0625 - mean_absolute_error: 537639.0625
Epoch 17/50
473/473 [==============================] - 3s 6ms/step - loss: 537639.3125 - mean_absolute_error: 537639.3125
Epoch 18/50
473/473 [==============================] - 2s 5ms/step - loss: 537638.9375 - mean_absolute_error: 537638.9375A: 0s - loss: 536501.5625 - mean_absolute_err
Epoch 19/50
473/473 [==============================] - 2s 5ms/step - loss: 537639.1250 - mean_absolute_error: 537639.1250
Epoch 20/50
473/473 [==============================] - 2s 5ms/step - loss: 537638.9375 - mean_absolute_error: 537638.9375
Epoch 21/50
473/473 [==============================] - 2s 5ms/step - loss: 537639.2500 - mean_absolute_error: 537639.2500
Epoch 22/50
473/473 [==============================] - 2s 5ms/step - loss: 537639.2500 - mean_absolute_error: 537639.2500
Epoch 23/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.3125 - mean_absolute_error: 537639.3125
Epoch 24/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.0625 - mean_absolute_error: 537639.0625
Epoch 25/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.2500 - mean_absolute_error: 537639.2500
Epoch 26/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.2500 - mean_absolute_error: 537639.2500A: 0s - loss: 536416.2500 - mean_absolute_err
Epoch 27/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.0625 - mean_absolute_error: 537639.0625
Epoch 28/50
473/473 [==============================] - 2s 4ms/step - loss: 537638.9375 - mean_absolute_error: 537638.9375
Epoch 29/50
473/473 [==============================] - 2s 4ms/step - loss: 537638.9375 - mean_absolute_error: 537638.9375
Epoch 30/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.2500 - mean_absolute_error: 537639.2500
Epoch 31/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.0625 - mean_absolute_error: 537639.0625A: 0s - loss: 538730.6250 - mean_absolute_erro
Epoch 32/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.1250 - mean_absolute_error: 537639.1250
Epoch 33/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.1250 - mean_absolute_error: 537639.1250
Epoch 34/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.0625 - mean_absolute_error: 537639.0625
Epoch 35/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.3125 - mean_absolute_error: 537639.3125A: 0s - loss: 535955.2500 - mean_absolute_
Epoch 36/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.2500 - mean_absolute_error: 537639.2500
Epoch 37/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.1250 - mean_absolute_error: 537639.1250
Epoch 38/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.0625 - mean_absolute_error: 537639.0625
Epoch 39/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.3125 - mean_absolute_error: 537639.3125
Epoch 40/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.1875 - mean_absolute_error: 537639.1875
Epoch 41/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.3125 - mean_absolute_error: 537639.3125
Epoch 42/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.3750 - mean_absolute_error: 537639.3750
Epoch 43/50
473/473 [==============================] - 2s 5ms/step - loss: 537639.1250 - mean_absolute_error: 537639.1250
Epoch 44/50
473/473 [==============================] - 2s 4ms/step - loss: 537638.8750 - mean_absolute_error: 537638.8750
Epoch 45/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.1250 - mean_absolute_error: 537639.1250
Epoch 46/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.2500 - mean_absolute_error: 537639.2500
Epoch 47/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.1875 - mean_absolute_error: 537639.1875
Epoch 48/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.4375 - mean_absolute_error: 537639.4375
Epoch 49/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.0000 - mean_absolute_error: 537639.0000
Epoch 50/50
473/473 [==============================] - 2s 4ms/step - loss: 537639.1875 - mean_absolute_error: 537639.1875A: 0s - loss: 536548.5000 - mean_absolute_e

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

203/203 - 0s - loss: 545798.7500 - mean_absolute_error: 545798.7500
Loss: 545798.75, Accuracy: 545798.75